__pycache__/
.idea/
.vscode/
logs/
notas.txt
diagrama_ast.txt
attribute_grammar.txt
temp/
arduino-examples.zip
examples/
build/
dist/
doc/
codes/
gamification_logs/
.VSCodeCounter/
stats.dump

*undo-tree*